.about-section .slide-2 p {
    margin-top: 30px;
    margin-bottom: 50px;
}

@media (min-width: 992px) {
    .about-section .slide-5 .container-inner {
        margin-bottom: 80px;
    }
}

@media (max-width: 991px) {
    .about-section .slide-1.paraxify {
        background: url("../img/header-img-min.png") center;
    }
}
