body, html {
    width: 100%;
    overflow-x: hidden;
    font-family: "Open Sans", sans-serif;
    text-align: left;
}

h1, h2 {
    line-height: 140%;
    color: #333333;
}

h1 {
    font-size: 44px;
    margin: 0 auto;
    letter-spacing: 0.704px;
}

h2 {
    font-size: 36px;
}

h1.white,
h2.white {
    color: #FFFFFF !important;
}

.font-light {
    font-weight: 300;
}

.bold {
    font-weight: 500;
}

.margin-bottom-big {
    margin-bottom: 80px;
}

p, a {
    font-size: 18px;
    font-weight: 300;
}

a,
a:hover,
a:visited,
a:active {
    text-decoration: none;
}

.no-padding {
    padding: 0 !important;
}
.no-padding-bottom {
    padding-bottom: 0
}

.underlined {
    text-decoration: underline;
}

.navbar-toggle {
    margin: 30px;
}

.header {
    width: 100%;
}

.navbar.navbar-default .navbar-brand {
    margin-left: 0;
    padding-left: 0;
}

.navbar {
    background-color: transparent;
    padding-top: 0;
    border: none;
    transition: top .3s ease-in-out;
}

.navbar.navbar-default {
    /*border-bottom: 1px solid rgba(255, 255, 255, .2) !important;*/
    background: transparent;
}

.navbar.navbar-default .navbar-brand {
    padding: 0;
    display: flex;
    align-items: center;
    margin: 32px 0;
    font-weight: 400;
    color: #2F80ED !important;
    height: auto;
}

.navbar.navbar-default .navbar-brand > .menu-item {
    color: #FFFFFF !important;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 7.2px;
}

.nav.navbar-nav {
    margin: 0 auto;
    padding: 0;
}

.nav.navbar-nav.navbar-right > li > a.menu-item {
    font-size: 18px;
    line-height: 140%;
    font-weight: 300;
    text-decoration: none;
    padding: 30px 10px;
}
.nav.navbar-nav.navbar-right > li > a.menu-item > img {
    height: 20px;
}

.navbar-collapse.collapse {
    display: inline-block;
    border: none;
}

.navbar-nav>li, .navbar-nav {
    float: left !important;
}

.navbar-right {
    float: right!important;
}

.menu-item {
    color: rgba(255, 255, 255, .5) !important;
}

/*.nav.navbar-nav.navbar-right > li.active > a.menu-item {*/
    /*background: transparent;*/
    /*color: #FFFFFF !important;*/
    /*border-bottom: 3px solid #FFFFFF;*/
    /*padding-bottom: 35.5px;*/
/*}*/

.nav.navbar-nav.navbar-right > li:hover > .menu-item {
    color: rgba(255, 255, 255, .88) !important;
    transition: .1s ease-in-out;
}

.nav.navbar-nav.navbar-right > li > a.menu-item:link,
.nav.navbar-nav.navbar-right > li > a.menu-item:hover,
.nav.navbar-nav.navbar-right > li > a.menu-item:visited,
.nav.navbar-nav.navbar-right > li > a.menu-item:active {
    text-decoration: none
}
.nav.navbar-nav.navbar-right > li > a > img {
    vertical-align: middle;
}

.description-text {
    line-height: 130%;
    color: rgba(255, 255, 255, 0.8);
    /*max-width: 70%;*/
}

.description-text.dark {
    color: rgba(0, 0, 0, .5);
    margin-bottom: 80px;
}

.no-side-padding {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.no-side-margin {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.display-table {
    display: table !important;
}

.iva-btn {
    display: inline-block;
    background: #006DFF;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0.288px;
    color: #FFFFFF;
    border-radius: 2px;
    padding: 24px;
    margin-top: 30px;
    transition: .1s ease-in-out;
    text-align: center;
}

.iva-btn:hover {
    background: #106EC6;
    color: #FFFFFF;
}
.iva-btn:active {
    box-shadow: inset 0 4px 0 rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
}

.iva-btn:link,
.iva-btn:hover,
.iva-btn:visited,
.iva-btn:active {
    text-decoration: none !important;
    color: #FFFFFF;
}

.iva-btn.white {
    padding: 24px 36px;
    background: #FFFFFF;
    color: #006DFF;
    margin-left: 20px;
}
.iva-btn.white:hover {
    color: #106EC6;
}
.iva-btn.white:active {
    box-shadow: inset 0 4px 0 rgba(0, 0, 0, 0.25);
    color: #006DFF;

}

.slide-1,
.slide-4 {
    min-height: 600px;
    height: 100vh;
}


.slide-1,
.slide-2,
.slide-3,
.slide-4,
.slide-5,
.slide-6 {
    background: url("../img/header-img-min.png");
    display: flex;
    float: left;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    flex-direction: column;
}

#wrapper [class*="slide-"] {
    position: relative;
    background-attachment: fixed;
    background-position: top center;
    background-size: cover;
}

.navbar .content,
.slide-1 .content,
.slide-4 .content-inner {
    /*padding-top: 100px;*/
    /*display: table-cell;*/
    /*vertical-align: middle;*/
    margin-top: auto;
    margin-bottom: auto;
    padding: 0;
}

.slide-1 .container-bottom {
    position: absolute;
    bottom: 0;
    background: #FFFFFF;
    width: 100%;
    padding-top: 80px;
}

.slide-2 {
    padding: 0;
    /*background: url("../img/header-img-min.png");*/
    /*background-size: cover;*/
    width: 100%;
}

.slide-2 .case img {
    height: 150px;
    max-width: 100%;
    margin: 50px 0 20px;
}
.slide-2 .case .header {
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 0.384px;
    color: #333333;
    margin-bottom: 5px;
}
.slide-2 .case .text {
    font-weight: 300;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0.384px;
    color: #333333;
}

.slide-2 .powered-header {
    margin-top: 50px;
}

.slide-2 .container-inner {
    background: #FFFFFF;
    padding: 0 0 80px;
}

.slide-3 .container-inner{
    background: #EDEDED;
    padding: 0;
}

.slide-3 .iva-description {
    display: inline-block;
    vertical-align: middle;
    float: none;
    padding: 0;
}
.slide-3 .iva-description-img {
    display: inline-block;
    vertical-align: middle;
    float: none;
    padding: 50px 0 0;
}
.slide-3 .iva-description-img img {
    max-width: 100%;
}

.slide-4 .content {
    background: url("../img/bg.png");
    background-size: cover;
    height: 100vh;
    display: flex;
    float: left;
    padding-right: 0;
    padding-left: 0;
    flex-direction: column;
}

.slide-5 .container-inner {
    padding: 80px 0;
    background: #FFFFFF;
}

.slide-6 .container-inner {
    background: #006DFF;
    padding: 0;
    display: table
}
.slide-6 .info {
    padding: 80px 0 80px 15px;
}
.slide-6 .logo-container {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    background: #0052BF;
    float: none;
}
.slide-6 .logo-container > img {
    max-width: 80%;
}
.slide-6 .logo-container.dark{
    background: #003780;
}

/*.slide-3,*/
/*.slide-4 {*/
    /*padding: 80px 50px 40px;*/
/*}*/

/*.slide-3 h2 {*/
    /*color: #FFFFFF;*/
/*}*/

.service {
    padding: 0 50px;
}

.service:first-child {
    padding-right: 30px;
}

.service:last-child {
    padding-left: 30px;
}

.service .header {
    margin: 30px 0 10px;
    font-weight: 500;
    font-size: 21px;
    line-height: 100%;
    color: #49516B;
}

.service .text {
    line-height: 110%;
    color: rgba(0, 0, 0, 0.5);
}

.advantage {
    padding-bottom: 40px;
    vertical-align: middle;
    display: table-cell;
    float: none;
    text-align: left;
}

.advantage > img {
    display: inline-block;
    max-width: 39%;
    vertical-align: middle;
}

.advantage .description {
    display: inline-block;
    max-width: calc(60% - 30px);
    vertical-align: middle;
    margin-left: 30px;
}

.advantage .description .header {
    font-size: 21px;
    font-weight: 500;
    line-height: 100%;
    color: #FFFFFF;
}

.advantage .description .subheader {
    margin-bottom: 0;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.8);
}

.slide-4 .advantage .description .header {
    color: #49516B;
}

.slide-4 .advantage .description .subheader {
    color: rgba(0, 0, 0, .5);
}

#footer {
    width: 100%;
    min-height: 12vh;
    display: block;
    float: left;
    background: #49516B;
    text-align: center;
    border-top: 1px solid rgba(0, 0, 0, .11);
    padding-bottom: 80px;
}

.footer-inner {
    margin-top: 70px;
    display: flex;
}

.footer-inner .logo-container {
    align-items: stretch;
}

.logo-container .copyright {
    color: rgba(255, 255, 255, .8);
    position: absolute;
    bottom: 0;
    left: 0;
}

.footer-inner a {
    float: left;
    clear: both;
}

.footer-inner a:hover {
    text-decoration: underline;
}

.footer-inner a,
.footer-inner p {
    text-decoration: none;
    font-size: 16px;
    margin-bottom: 8px;
    font-weight: 400;
    color: rgba(255, 255, 255, .5);
}

.footer-inner .heading {
    color: #FFFFFF;
    margin-bottom: 30px;
    border-bottom: none;
}

#footer-logo {
    width: 60px;
}

#subscribeForm input {
    height: 50px;
    font-size: 16px;
    line-height: 100%;
    border-radius: 2px 0 0 2px;
    border: 1px solid #1BB1CA;
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.8);
    background: transparent;
    outline: none;
}

#subscribeForm input::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.subscribe-container p:not(.heading) {
    margin: 20px auto 0;
    display: inline-block;
}

.iva-btn.subscribe {
    height: 50px;
    min-width: 76px;
    font-size: 16px;
    padding: inherit;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
    border-radius: 0 2px 2px 0;
}

.iva-btn.subscribe:hover {
    color: #1BB1CA;
}

@media (max-width: 1199px) {
    h1 {
        letter-spacing: 0;
    }
    .slide-1,
    .slide-2,
    .slide-3 {
        /*padding-left: 50px;*/
        /*padding-right: 50px;*/
    }

    .navbar.navbar-default .container-fluid {
        /*padding-left: 4%;*/
        /*padding-right: calc(4% - 18px);*/
    }

    .slide-3 .iva-description {
        padding: 40px 0;
    }
    .slide-3 .iva-description-img {
        padding-top: 0;
    }
}

@media (min-width: 992px) {
    .border-right {
        border-right: 1px solid #C4C4C4;
    }

    .slide-2 .powered-header {
        display: none;
    }

    .slide-5 .flexbox {
        display: flex;
    }
    .slide-5 .info-left {
        padding-right: 10%;
        padding-left: 0;
    }
    .slide-5 .info-right {
        padding-left: 10%;
        padding-right: 0;
        flex: 1;
    }
    .slide-5 .info-right .iva-btn {
        position: absolute;
        bottom: 0;
    }

}

@media (max-width: 991px) {
    .slide-1 {
        display: block;
        float: none;
    }
    .slide-1 .content {
        height: 100vh;
        display: table-cell;
        vertical-align: middle;
    }
    .slide-1 .container-bottom {
        position: relative;
        padding-top: 50px;
    }

    .slide-2 .container-inner {
        padding-bottom: 50px;
    }
    .slide-2 .case:not(:first-child) img {
        margin-top: 30px;
    }

    .slide-3 .iva-description {
        padding-top: 50px;
        padding-bottom: 50px;
        text-align: center;
    }
    .slide-3 .iva-description p {
        margin-top: 30px;
        margin-bottom: 0;
    }
    .slide-3 .iva-description .iva-btn {
        margin-top: 50px;
    }

    .slide-3 .iva-description-img {
        display: block;
        text-align: center;
    }
    .slide-3 .iva-description-img img {
        margin-left: -40px;
    }

    .slide-5 .container-inner {
        padding: 0;
    }
    .slide-5 .border-right {
        border-bottom: 1px solid #C4C4C4;;
    }

    .slide-5 .info-left,
    .slide-5 .info-right {
        padding: 50px 0;
    }
    .slide-5 .info-left p,
    .slide-5 .info-right p {
        margin: 20px auto;
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    .navbar-md {
        padding: 0;
    }
    .case {
        text-align: center;
    }
    .slide-6 .info {
        padding-left: 0;
    }
}

@media (max-width: 767px) {
    .navbar .content {
        padding: 0 30px;
    }
    .navbar-collapse.collapse {
        float: right;
        padding: 0;
    }
    .navbar-header {
        display: inline-block;
    }

    .slide-1,
    .slide-2 .container-inner,
    .slide-3 .iva-description,
    .slide-4 .content,
    .slide-5 .info-left,
    .slide-5 .info-right {
        padding-left: 30px;
        padding-right: 30px;
    }

    .slide-6 .container-inner {
        display: block;
    }
    .slide-6 .info {
        padding: 30px;
    }
    .slide-6 .logo-container {
        padding: 60px 30px;
        display: block;
        float: left;
        width: 50%;
    }
    .slide-6 .info h1 {
        /*max-width: 90%;*/
        /*display: block;*/
        /*margin: auto;*/
    }

}

.advantage .description .header {
    margin-bottom: 10px;
}

.advantage .description .subheader {
    line-height: 120%;
}

@media (max-width: 575px) {
    .slide-1 {
        float: left;
        min-height: 100vh;
        height: auto;
    }
    .slide-1 .content {
        padding-top: 180px;
        display: block;
        min-height: 100vh;
        height: auto;
    }
    .slide-1 .iva-btn {
        margin-right: 20px;
    }
    .iva-btn.white {
        margin: 20px 0;
    }
}

@media (max-width: 320px) {
    .navbar .content {
        padding: 0 7%;
    }
    .slide-6 .info {
        padding: 30px 7%;
    }
}
